/* common CSS */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Button styles */
.primary-color {
  background-color: #4e47ff;
}

.custom-width {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  padding: 50px 0px;
}

.btn {
  background-color: #4e47ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #3b3dbf;
  transform: scale(1.05);
}

/* Header section */
header {
  background-image: url("/Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  padding: 0 15px;
}

.logo {
  color: #4e47ff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700 !important;
}

/* Hero  */
.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  max-width: 800px;
  margin: auto;
}
.hero h1 {
  margin: 10px 0px;
}

/* action section */

.action {
  margin: auto;
  max-height: 328px;
}
.action-text {
}
.action-text h3 {
  font-weight: bold;
  font-size: 42px;
}
.action-text p {
  color: #25243280;
  font-size: 24px;
  padding: 10px 0px;
}
.action-img {
}
.action-img img {
  border-radius: 50px;
}
