/* google font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
/* common CSS */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Button styles */
.primary-color {
  background-color: #4e47ff;
}

.custom-width {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  padding: 50px 0px;
  background: rgb(245, 248, 255);
}
p {
  color: #25243280;
}
.btn {
  background-color: #4e47ff;
  color: white;
  border: none;
  font-family: "Raleway", sans-serif;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #3b3dbf;
  transform: scale(1.05);
}

/* Header section */
header {
  background-image: url("./Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  padding: 0 15px;
}

.logo {
  color: #4e47ff;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700 !important;
}

/* Hero  */
.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  max-width: 800px;
  margin: auto;
}
.hero h1 {
  margin: 40px 0px;
  font-size: 60px;
  color: #252432;
}

/* action section */

.action {
  margin: auto;
  max-height: 328px;
}

.action-text h3 {
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}
.action-text p {
  color: #25243280;
  font-size: 24px;
  padding: 25px 0px;
}

.action-img img {
  border-radius: 50px;
}

/* state section */
.state-section {
  border-radius: 25px;
  background: rgba(78, 71, 255, 0.1);
  max-width: 1140px;
  margin: auto;
}
.state-title {
  padding-top: 20px;
}
.state-section h2 {
  text-align: center;
  font-size: 40px;
  color: #252432;
  padding: 45px 0px;
}
.state-data {
  max-width: 850px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 50px;
}
.state-data h1 {
  font-size: 80px;
  color: #4e47ff;
}
.state-data p {
  font-size: 20px;
}

/* user section */
.user-section {
  background: rgb(245, 248, 255);
}
.user-title {
}
.user-title h3 {
  font-size: 40px;
  color: #252432;
  text-align: center;
  margin: 50px 0px;
}
.user-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 20px;
  max-width: 1140px;
  margin: auto;
}
.user-single-card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.user-single-card:hover {
  transform: translateY(-10px);
}
.user-single-card {
}
.rating {
  margin: 10px 0px;
}
.rating img {
}
.user-text-content {
}
.user-text-content h2 {
  font-size: 25px;
  color: #1e1e1e;
  padding: 10px 0px;
}
.user-text-content h4 {
  font-size: 16px;
  color: #1e1e1e;
  padding: 20px 0px;
}
.user-info-content {
  display: flex;
  align-items: center;
}
.user-profime-img {
}
.user-profime-img img {
  border-radius: 20px;
}
.user-information {
  margin-left: 10px;
}
.user-information h4 {
}
.user-information p {
}

/* focus section */
.focus-container {
  text-align: center;
  max-width: 1140px;
  margin: auto;
  background: #fff;
  border-radius: 40px;
  /* padding: 20px; */
}
.focus-container h2 {
  font-size: 50px;
  padding: 70px 0px 0px 0px;
}
.focus-container p {
  padding: 20px 0px;
}

.focus-img {
  margin: 30px 0px;
  padding-bottom: 70px;
}
.focus-img img {
  border-radius: 50px;
}

/* get in touch section */
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
}
.contact-title h2 {
  font-size: 100px;
  font-weight: 700;
}
.contact-form {
  width: 40%;
}
.contact-form label {
}
.contact-form input,
textarea {
  border-radius: 10px;
  border: none;
  margin: 10px 0px;
  border: 1px solid #d6dded;
  padding: 10px;
  width: 92%;
}
.contact-form input::placeholder {
  font-family: "Inter", sans-serif;
}
.contact-form textarea::placeholder {
  font-family: "Inter", sans-serif;
}
.contact-form textarea {
}
.contact-btn {
  width: 100%;
  margin: 10px 0px;
}

/* footer */
footer {
  padding: 50px;
}
.footer-logo {
  font-size: 100px;
  font-weight: 900;
}
footer p {
  padding: 10px 0px;
}

footer {
  text-align: center;
}
.footer-menu ul {
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer-menu ul li a {
  color: #8987a1;
}
.footer-menu ul li {
  padding: 0 10px;
}
